<p id="notice"><%= notice %></p>

<h1>Listing Place Categories</h1>

<table>
  <thead>
    <tr>
      <th>Place</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @place_categories.each do |place_category| %>
      <tr>
        <td><%= place_category.place_id %></td>
        <td><%= place_category.category_id %></td>
        <td><%= link_to 'Show', place_category %></td>
        <td><%= link_to 'Edit', edit_place_category_path(place_category) %></td>
        <td><%= link_to 'Destroy', place_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place category', new_place_category_path %>
