<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @place_category.place_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @place_category.category_id %>
</p>

<%= link_to 'Edit', edit_place_category_path(@place_category) %> |
<%= link_to 'Back', place_categories_path %>
