<p id="notice"><%= notice %></p>

<h1>Listing User Places</h1>

<%= form_tag :controller => 'places', :action => 'index', :method => 'get' do %>
  <%= text_field_tag 'term' %>
  <%= submit_tag "Search for places near me" %>
<% end %>

<%#= form_for current_user do |f| %>

<%#= f.collection_check_boxes :place_id, Place.all, :id, :name %>

<table>
  <thead>
    <tr>
      <th>Place</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>

    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= f.submit "Save place choices" %>

<%# end %>
