<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Dating' %>
    <%= f.label 'Friendship' %><br>
    <%= radio_button("user", "rel_type", "Dating") %>
    <%= radio_button("user", "rel_type", "Friendship") %>
  </div>
  <div class="field">
    <%= f.label 'Male' %>
    <%= f.label 'Female' %>
    <%= f.label 'Both' %><br>
    <%= radio_button("user", "orientation", "Male") %>
    <%= radio_button("user", "orientation", "Female") %>
    <%= radio_button("user", "orientation", "Both") %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label 'Zip Code' %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label 'Distance Willing to Travel' %><br>
    <%= f.number_field :radius %>
  </div>
    <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
