<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1><%= @user.name %></h1>

  <div class="field">
    <%= f.label 'Dating' %>
    <%= f.label 'Friendship' %><br>
    <%= radio_button("user", "rel_type", "Dating") %>
    <%= radio_button("user", "rel_type", "Friendship") %>
  </div>
  <div class="field">
    <%= f.label 'Male' %>
    <%= f.label 'Female' %>
    <%= f.label 'Both' %><br>
    <%= radio_button("user", "orientation", "Male") %>
    <%= radio_button("user", "orientation", "Female") %>
    <%= radio_button("user", "orientation", "Both") %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label 'Zip Code' %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label 'Distance Willing to Travel' %><br>
    <%= f.number_field :radius %>
  </div>
  <div class="hidden actions" id="setup_submit">
    <%= f.submit %>
  </div>
<% end %>

<form class="test" id="test1">
  <p class="hidden" id="current_user"><%= @user.id %></p>
  <input type="text" id="yelp_loc" placeholder="Search Area"><br><br>
  <input type="text" id="yelp_bus1" placeholder="Favorite Location">
  <input class="button" id="button1" type="submit" value="Submit" >
</form>
<br><br>
<form class="hidden test" id="test2">
  <input type="text" id="yelp_bus2" placeholder="Second Favorite Location">
  <input class="button" id="button2" type="submit" value="Submit" >
</form>
<br><br>
<form class="hidden test" id="test3">
  <input type="text" id="yelp_bus3" placeholder="Third Favorite Location">
  <input class="button" id="button3" type="submit" value="Submit" >
</form>
