<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Rel type:</strong>
  <%= @user.rel_type %>
</p>

<p>
  <strong>Looking For:</strong>
  <%= @user.orientation %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Radius:</strong>
  <%= @user.radius %> miles.
</p>

<%= form_for @user do |f| %>
  <h2>Pick places you like:</h2>
  This will help us identify other users that have your same interests :)<br />
  <%= f.collection_check_boxes :place_ids, @user.nearby_places, :id, :name do |b| %>
    <%= b.label class:"label-checkbox" do%>
      <%= b.check_box %><%= b.text %>
    <% end %><br />
  <% end %><br />
  <%= f.submit "Save place choices" %>
<% end %>


<%= link_to 'Edit Profile', edit_user_path(@user) %>
