<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= @photo.img_id %>
</p>

<p>
  <strong>Img type:</strong>
  <%= @photo.img_type %>
</p>

<p>
  <strong>Url:</strong>
  <%= @photo.url %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
